.mdv { font-size: var(--fs-md); }
.mdv h1 { font-size: var(--fs-3xl); } .mdv h2 { font-size: var(--fs-xl); border-bottom: 1px solid var(--color-border); padding-bottom: .3em; } .mdv h3 { font-size: var(--fs-lg); }
.mdv pre { font-size: var(--fs-sm); }
